aside[data-target="sticky-navigator"], #sscTOC {
        background:#fafafa;
        line-height: 1.6;
        color: #555;
        font-size: 0.9em;
        box-shadow:0px 0px 5px;
        border:1px solid #f4f4f4;
        margin-bottom: 48px;
        padding: 10px;
        position: -webkit-sticky;
        position: sticky;
	width: 270px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
		
        ul {
		padding: 0px;
        }
        ul li:first-child {
		border-top: none;
		padding-top: 8px;
        }
        ul li {
		list-style: none;
		line-height: 1.4;
        }
        ul li.nav-h2 {
		padding-top: 6px;
		padding-bottom: 6px;
        }
        ul li.nav-h3 {
		margin-left: 10px;
        }
        ul li.current {
		background-color: #dadde1;
        }
        .side-left{
		float: left;
		margin-right: 10px;
        }
	@media screen and (min-width:700px){
		.side-left{
			top: 100px;
		}
	}
	@media screen and (min-width:992px){
		.side-left{
			top: 160px;
		}
	}
}
