/* support the HTML <details> tag */
details {
        padding: 0.5em 0.5em 0;
}

summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em; display: list-item;
}

details[open] {
        padding: 0.5em;
}

details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0.5em;
}

details[open] p {
        padding-left: 2em;
}

/* only show the attachments box if there are actually attachments */
#divAttachments:has(div[data-attachments-count="0"]) {
	display: none;
}

/* could use the technician only approach here */
#divAttachments:has(div[data-attachments-count="0"] .modal) {
	display: block;
}

/* simple approach, but for more extensive customizations see the SSC example */
header:has(a[href="https://germanna.edu/"]) .themed.tdbar {
    background: linear-gradient(90deg, rgba(0,147,178,1) 0%, rgba(0,42,58,1) 100%);
}

/* SSC portal pages - this is a flexible way forward on branding different portals 
An alternative approach is this, which might be more robust

body:has(header a[href="https://www.ssc.vccs.edu/"]){
	etc.
}

*/

/* NOT signed in */
form[action^="/TDClient/1981/Portal/"]:has(.logo-header-full a[href*="Login.aspx"]) {
                #divTabHeader {
                        display: none;
                }
                #divDetails {
                        display: none;
                }
		#td-navbar-collapse li:has(a[href*="/Home/?"]) {
			display: none !important;
		}
}

form[action^="/TDClient/3292/SSC/"] {

	/* NOT signed in */
	:has(.logo-header-full a[href*="Login.aspx"]) {
        	#divTabHeader {
               		display: none;
        	}
	        #divDetails {
        	        display: none;
	        }
	}

	/* has technician license */
	:has(.user-profile-menu a[href*="TDNext"]){
		/* background-color: #eee */
	}

	/* this article edit privileges */
	:has(a.DetailAction[href*="KB/Edit?ID="]){
		/* background-color: #eee; */
	}

	/* universal to this portal */
        header .themed.tdbar {
            display: none;
        }

        header #navShim {
            padding-top: 110px !important;
        }

	#sscTOC {
		position: fixed !important;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		height: 80%;
		overflow: auto;
		z-index: 999;
	}
	#sscTOC::-webkit-scrollbar {
		display: none;
	}

	#sscTOC::before {
		content: 'Table of Contents';
		font-size: 20px;
		font-weight: 500;
		position: fixed;
		margin-top: -45px;
	}
}


/* hide the techOnly class from everyone */

.techOnly {
	display: none;

}

/* Technician-license specific */

:has(.user-profile-menu a[href*="TDNext"]){
        .techOnly {
        	display: block;
		border: 1px dashed #000000;
		padding: 10px;
	}

	.techOnly:before {
		content: "Technician Only";
		border-bottom: 1px solid #ad682b;
	}
}

/* support tabbed content */

.vccsTabs > .tab-pane {
	border: none !important;
}

.tab-content.vccsTabs{
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
}
.w3-animate-opacity{
	animation: opac 1s;
}

@keyframes opac{
	from{
		opacity:0
	} 
	to{
		opacity:1
	}
}

.vtab, .htab {
	border: none !important;
}

.w3-sidebar{
	height:100%;
	z-index:1;
	overflow:auto;
	padding-right: 0px;
	padding-left: 0px;
}

.w3-bar {
    width: 100%;
    overflow: hidden;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0,0,0,0.06);
}

.w3-bar .w3-button {
    white-space: normal;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.w3-bar-block .w3-bar-item{
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	white-space:normal;
	float:none;
	outline:0;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0,0,0,0.06);
}

.w3-card{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.w3-green{
	color:#fff!important;
	background-color:#008000!important
}

.w3-button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.w3-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.w3-bar .w3-button{
	white-space:normal
}



div:has(.htab){
	.w3-bar .w3-button {
		border-radius: 10px 10px 0 0;
		border: 1px solid #cacaca;
		background-color: #cacaca;
		flex-grow: 1;
	}

	.w3-bar {
		display: inline-flex;
		box-shadow: none;
	}

	.w3-card {
		box-shadow: none;
	}

	.w3-green {
		border-bottom: none !important;
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.htab {
		border: 1px solid #cacaca !important;
		border-top: none !important;
		padding: 5px 20px !important;
		border-radius: 0 0 5px 5px;
	}
}

